
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="bgded overlay" style="background-image:url('../../images/01.png');">
    <div id="pageintro" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="flexslider basicslider">
            <ul class="slides">
                <li>
                    <article>
                        <p>Lacinia</p>
                        <h3 class="heading">Eleifend tristique lacus</h3>
                        <p>Eleifend sagittis cras convallis nisl eget</p>
                        <footer><a class="btn" href="#">Nullam porttitor</a></footer>
                    </article>
                </li>
                <li>
                    <article>
                        <p>Pulvinar</p>
                        <h3 class="heading">Ornare tortor quisque</h3>
                        <p>Odio semper sed euismod mi euismod curabitur</p>
                        <footer><a class="btn inverse" href="#">Eget venenatis</a></footer>
                    </article>
                </li>
                <li>
                    <article>
                        <p>Sagittis</p>
                        <h3 class="heading">Feugiat blandit erat</h3>
                        <p>Convallis nibh nulla nec dictum mi consequat vel</p>
                        <footer><a class="btn" href="#">Facilisis vestibulum</a></footer>
                    </article>
                </li>
            </ul>
        </div>
        <!-- ################################################################################################ -->
    </div>
</div>
Burası Sitenin<br />
Değişecek olan<br />
Kısmı !!!!!

