
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="bgded overlay" style="background-image:url('../../images/2.jpg');">
        <div id="pageintro" class="hoc clear">
            <!-- ################################################################################################ -->
            <div class="flexslider basicslider">
                <ul class="slides">
                    <li>
                        <article>
                            <p>ALTIN ORAN İSG</p>
                            <h3 class="heading">Kaliteli Hizmet</h3>
                            <p>Onlarca İş Ortağı</p>
                            <footer><a class="btn" href="/Reference/Index">Referanslarımız</a></footer>
                        </article>
                    </li>
                    <li>
                        <article>
                            <p>ALTIN ORAN İSG</p>
                            <h3 class="heading">Altın Oran İSG'den Kareler</h3>
                            <p>sad</p>
                            <footer><a class="btn" href="/Galery/Index">GALERİ</a></footer>
                        </article>
                    </li>
                    <li>
                        <article>
                            <p>ALTIN ORAN İSG</p>
                            <h3 class="heading">MERAK ETTİKLERİNİZ</h3>
                            <p>Bizimle İletişime Geçin</p>
                            <footer><a class="btn" href="#">İletişim</a></footer>
                        </article>
                    </li>
                </ul>
            </div>
            <!-- ################################################################################################ -->
        </div>
    </div>
<div class="clear"></div>



<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="content">
            <!-- ################################################################################################ -->
            <div id="gallery">
                <figure>
                    @*<header class="heading">Galeri</header>*@
                    <ul class="nospace clear">
                        <li class="one_quarter first"><a href="#"><img src="../images/1.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/2.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/3.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/4.jpg" alt=""></a></li>
                        <li class="one_quarter first"><a href="#"><img src="../images/5.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/6.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/7.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/8.jpg" alt=""></a></li>
                        <li class="one_quarter first"><a href="#"><img src="../images/9.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/10.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/11.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/12.jpg" alt=""></a></li>
                        <li class="one_quarter first"><a href="#"><img src="../images/13.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/14.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/15.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/16.jpg" alt=""></a></li>
                        <li class="one_quarter first"><a href="#"><img src="../images/17.jpg" alt=""></a></li>

                    </ul>

                </figure>
            </div>
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->
            <nav class="pagination">
                <ul>
                    <li><a href="#">&laquo; Previous</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><strong>&hellip;</strong></li>
                    <li><a href="#">6</a></li>
                    <li class="current"><strong>7</strong></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                    <li><strong>&hellip;</strong></li>
                    <li><a href="#">14</a></li>
                    <li><a href="#">15</a></li>
                    <li><a href="#">Next &raquo;</a></li>
                </ul>
            </nav>
            <!-- ################################################################################################ -->
        </div>
        <!-- ################################################################################################ -->
        <div class="container">
            <marquee behavior="scroll" direction="left" scrollamount="12">              
                <img src="~/images/r1.png" width="100" height="80" alt="" >
                <img src="~/images/r2.png" alt="Natural" width="120" height="80">
                <img src="~/images/r3.png" alt="Natural" width="120" height="80">
                <img src="~/images/r4.png" alt="Natural" width="120" height="80">
                <img src="~/images/r5.png" alt="Natural" width="120" height="80">
                <img src="~/images/r6.png" alt="Natural" width="120" height="80">
                <img src="~/images/r7.png" alt="Natural" width="120" height="80">
                <img src="~/images/r8.png" alt="Natural" width="120" height="80">
                <img src="~/images/r9.png" alt="Natural" width="120" height="80">
                <img src="~/images/r10.png" alt="Natural" width="120" height="80">
                <img src="~/images/r11.png" alt="Natural" width="120" height="80">
                <img src="~/images/r12.png" alt="Natural" width="120" height="80">
                <img src="~/images/r13.png" alt="Natural" width="120" height="80">
                <img src="~/images/r14.png" alt="Natural" width="120" height="80">
                <img src="~/images/r15.png" alt="Natural" width="120" height="80">
                <img src="~/images/r16.png" alt="Natural" width="120" height="80">
                <img src="~/images/r17.png" alt="Natural" width="120" height="80">
                <img src="~/images/r18.png" alt="Natural" width="120" height="80">
                <img src="~/images/r19.png" alt="Natural" width="120" height="80">     
            </marquee>
        </div>
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
    </main>
</div>