
@{
    ViewBag.Title = "Reference";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="content">
            <!-- ################################################################################################ -->
            <div id="gallery">
                <figure>
                    <header class="heading">Referanslar</header>
                    <ul class="nospace clear">
                        <li class="one_quarter first"><a href="#"><img src="../images/r1.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r2.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r3.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r4.png" alt=""></a></li>
                        <li class="one_quarter first"><a href="#"><img src="../images/r5.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r6.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r7.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r8.png" alt=""></a></li>
                        <li class="one_quarter first"><a href="#"><img src="../images/r9.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r10.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r11.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r12.png" alt=""></a></li>
                        <li class="one_quarter first"><a href="#"><img src="../images/r13.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r14.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r15.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r16.png" alt=""></a></li>
                        <li class="one_quarter first"><a href="#"><img src="../images/r17.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r17.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r18.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r19.png" alt=""></a></li>
                        <li class="one_quarter first"><a href="#"><img src="../images/r20.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r21.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r23.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r24.png" alt=""></a></li>
                        <li class="one_quarter first"><a href="#"><img src="../images/r25.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r26.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r27.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r28.png" alt=""></a></li>
                        <li class="one_quarter first"><a href="#"><img src="../images/r29.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r30.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r31.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r32.png" alt=""></a></li>
                        <li class="one_quarter first"><a href="#"><img src="../images/r33.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r34.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r35.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r36.png" alt=""></a></li>
                        <li class="one_quarter first"><a href="#"><img src="../images/r37.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r38.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r39.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r40.png" alt=""></a></li>
                        <li class="one_quarter first"><a href="#"><img src="../images/r41.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r42.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r43.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r44.png" alt=""></a></li>
                        <li class="one_quarter first"><a href="#"><img src="../images/r45.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r46.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r47.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r48.png" alt=""></a></li>
                        <li class="one_quarter first"><a href="#"><img src="../images/r49.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r50.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r51.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r52.png" alt=""></a></li>
                        <li class="one_quarter first"><a href="#"><img src="../images/r53.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r54.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/r55.png" alt=""></a></li>
                    
                    </ul>

                </figure>
            </div>
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->
           
            <!-- ################################################################################################ -->
        </div>
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
    </main>
</div>