
@{
    ViewBag.Title = "Galery";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="content">
            <!-- ################################################################################################ -->
            <div id="gallery">
                <figure>
                    <header class="heading">Galeri</header>
                    <ul class="nospace clear">
                        <li class="one_quarter first"><a href="#"><img src="../images/1.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/2.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/3.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/4.jpg" alt=""></a></li>
                        <li class="one_quarter first"><a href="#"><img src="../images/5.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/6.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/7.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/8.jpg" alt=""></a></li> 
                        <li class="one_quarter first"><a href="#"><img src="../images/9.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/10.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/11.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/12.jpg" alt=""></a></li>
                        <li class="one_quarter first"><a href="#"><img src="../images/13.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/14.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/15.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/16.jpg" alt=""></a></li>
                        <li class="one_quarter first"><a href="#"><img src="../images/17.jpg" alt=""></a></li>
                       
                    </ul>
                  
                </figure>
            </div>
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->
            <nav class="pagination">
                <ul>
                    <li><a href="#">&laquo; Previous</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><strong>&hellip;</strong></li>
                    <li><a href="#">6</a></li>
                    <li class="current"><strong>7</strong></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                    <li><strong>&hellip;</strong></li>
                    <li><a href="#">14</a></li>
                    <li><a href="#">15</a></li>
                    <li><a href="#">Next &raquo;</a></li>
                </ul>
            </nav>
            <!-- ################################################################################################ -->
        </div>
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
    </main>
</div>
